node_modules/
.idea/
.vscode/
.history/
.husky/
dist/
build/
spec/
coverage/
flow/
storybook-static
.*.swp
*.log
*.js
*.d.ts
.DS_Store
.gitignore
tsconfig.json
tsconfig.node.json
vite.config.ts
commitlint.config.js
.test/